body{
    background-color: black;
}
h1{
    color: white;
    border-radius: 10px;
    border: solid orange 3px;
    padding: 0 10px 0 10px;
}

header{
    display:flex;
    justify-content: center;
}